[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
python-dotenv = "*"
discord-ext-menus = {git = "https://github.com/Rapptz/discord-ext-menus"}
mongoengine = "*"
apscheduler = "*"
humanize = "*"
pytimeparse = "*"
asyncpg = "*"
"discord.py" = {git = "https://github.com/Rapptz/discord.py"}
psutil = "*"

[requires]
python_version = "3.8"
