[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
"discord.py" = "*"
psycopg2 = "*"
python-dotenv = "*"
discord-ext-menus = {git = "https://github.com/Rapptz/discord-ext-menus"}
mongoengine = "*"

[requires]
python_version = "3.8"
